$light: #eeeeee;
$light2: #bbbbbb;
$light3: #7c7c7c;
$light4: #5d5e63;
$dark3: #16161D;
$dark2: #1b1b22;
$dark1: #27272F;
$blue: #19b5fe;
$green: #26e686;
$red: #f64747;
$shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
$shadowStrong: 0px 0px 7px rgba(0, 0, 0, 0.4);
$inputBorder: 1.2px solid $light4;