@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600&display=swap');

body {
  background-color: $dark2;
  color: #eeeeee;
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Barlow Condensed', sans-serif;
}

.row {
  display: flex;
}

.label {
  color: $light3;
  text-transform: uppercase;
  font-size: 15px;
}

.btn{
  display: flex;
  padding: 5px 15px;
  align-items: center;
  height: fit-content;
  width: fit-content;
  cursor: pointer;

  
  background-color: $dark3;
  color: $light2;

  &:hover{
    background-color: $dark2;
  }

  .material-icons{
    font-size: 20px;
    margin-left: -3px;
    margin-right: 5px;
  }

  .text{
    // text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
  }
}

.absoluteMenu {
  position: absolute;
  background-color: $dark3;
  color: $light2;
  border-radius: 10px;
  display: none;
  box-shadow: $shadow;
  overflow: hidden;

  .divider {
    width: 100%;
    height: 1px;
    background-color: $dark1;
  }

  .entry {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 7px 15px 7px 10px;
    cursor: pointer;

    &:hover {
      background-color: $dark1;
      color: $light;
    }

    .material-icons {
      font-size: 15px;
      margin-right: 8px;
    }
  }
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;

  .head {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    background-color: $dark3;
  
    select {
      background-color: transparent;
      width: 70px;
      color: $light2;
  
      border: $inputBorder;
      border-radius: 8px;
      padding: 8px 10px;
      margin-left: 10px;
  
      option {
        background-color: $dark1;
      }
    }

    .label {
      color: $light4;
      font-weight: 600;
    }
  
    .input {
      margin-right: 20px;
      cursor: default;
  
      span {
        // background-color: $dark1;
        border: $inputBorder;
        border-radius: 8px;
        padding: 6px 10px;
        margin-left: 10px;
        color: $light4;
      }
  
      input {
        background-color: transparent;
        border: none;
        width: 20px;
        text-align: right;
        color: $light2;
        // border-bottom: 1px solid $light;
      }
  
      input:focus {
        outline: none;
      }
  
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
  
      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
    }

    .import{
      margin-left: auto;
      // background-color: $blue;
      border: 1px solid $light3;
      color: $light3;
    }

    .export{
      margin-left: 10px;
      background-color: $green;
      color: $dark1;
    }
  }

  .mainSpace {
    margin: 0px;
    flex-grow: 1;
    overflow: hidden;
  }

  #compTree{
    padding-top: 25px;
    min-width: 15vw;
    background-color: $dark1;

    .btn{
      margin: 10px auto 0;
    }
  }

  #settings {
    padding: 20px;
    min-width: 20vw;
    background-color: $dark1;
  
    input {
      background-color: transparent;
      border: 1px solid $light2;
      border-radius: 5px;
    }
  }

  #canvasContainer {
    flex-grow: 1;
    overflow: auto;
    // display: flex;
    // align-items: center;
    // justify-content: center;
  
    #canvasPadding {
      margin: auto;
      padding: 40px;
      width: fit-content;
  
      #canvas {
        display: block;
        border: 1px solid $dark1;
        height: fit-content;
        image-rendering: pixelated;
      }
    }
  }
}