@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

body {
  background-color: $dark2;
  color: #eeeeee;
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: "Nunito", sans-serif;
}

input[type="radio"] {
  cursor: pointer;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 1px solid $light4;
  background-color: transparent;
  margin-right: 0.5rem;

  &:checked {
    background-color: $light2;
    border: 3px solid $light4;
  }
}

.spin {
  animation-name: spin;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  cursor: default;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulseBorder {
  0% {
    border-width: 1px;
  }

  50% {
    border-width: 4px;
  }

  100% {
    border-width: 1px;
  }
}

.row {
  display: flex;
}

.label {
  color: $light3;
  text-transform: uppercase;
  font-size: 14px;
}

a {
  color: $blue;
  cursor: pointer;
  text-decoration: none;
}

.btn {
  display: flex;
  padding: 5px 15px;
  align-items: center;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  user-select: none;

  background-color: $dark3;
  color: $light2;

  &:hover {
    background-color: $dark2;
  }

  .material-icons {
    font-size: 20px;
    margin-left: -3px;
    margin-right: 7px;
  }

  .text {
    // text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
  }
}

.red-text {
  color: $red !important;
}

.absoluteMenu {
  z-index: 5;
  position: fixed;
  background-color: $dark3;
  color: $light2;
  border-radius: 10px;
  display: none;
  box-shadow: $shadow;
  overflow: hidden;
  transition-duration: 150ms;
  transition-property: opacity;

  @media screen and (max-height: 1080px) {
    max-height: 50vh;
    overflow-y: auto;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: $dark1;

    &.lighter {
      background-color: $light3;
    }
  }

  .entry {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 7px 15px 7px 10px;
    cursor: pointer;

    &:hover {
      background-color: $dark1;
      color: $light;
    }

    .material-icons {
      font-size: 15px;
      margin-right: 8px;
    }
  }
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  .head {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    background-color: $dark3;
    z-index: 3;

    .syncStatus {
      color: $green;

      .row {
        align-items: center;

        .dot {
          box-sizing: border-box;
          height: 10px;
          width: 10px;
          border-radius: 10px;
          margin-right: 0.2rem;
          margin-bottom: 3px;
          background-color: $green;
          border: 3px solid transparentize($color: $dark1, $amount: 0.5);
          animation-name: pulseBorder;
          animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          animation-duration: 2s;
          animation-iteration-count: infinite;
        }
      }

      &.pending {
        color: $blue;

        .dot {
          background-color: $blue;
        }
      }

      .detail {
        opacity: 0.7;
        display: block;
        margin-top: -5px;
        font-size: 0.8rem;

        a {
          color: unset;
          text-decoration: underline;
          margin-right: 5px;
          text-transform: uppercase;
        }
      }
    }

    .exitBtn {
      border-right: 1px solid $light4;
      color: $light4;
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100% + 40px);
      width: 5rem;
      cursor: pointer;
      user-select: none;

      margin-left: -20px;
      margin-right: 20px;

      span {
        transform: scaleX(-1);
      }

      &:hover {
        background-color: $light4;
        color: $light3;
      }
    }

    .label {
      color: $light4;
      font-weight: 700;
    }

    .center {
      margin: 0 auto;
      display: flex;
      align-items: baseline;
    }

    .inputProjectName {
      background-color: unset;
      padding: 5px 10px;
      border-radius: 0;
      width: 100px;
      color: $light3;
      font-weight: 400;
      font-size: 20px;
      border: none;
      text-align: right;

      &:focus {
        outline: none;
      }
    }

    .size {
      input {
        background-color: transparent;
        border: none;
        width: 20px;
        text-align: center;
        color: $light3;
        font-size: 17px;

        &:focus {
          outline: none;
        }
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
    }

    .sync {
      border: 1px solid $light3;
      color: $light3;
      position: relative;

      &:hover {
        color: $blue;
        border-color: $blue;
      }
    }

    .export {
      margin-left: 10px;
      background-color: $green;
      color: $dark1;
    }

    .save {
      margin-left: 10px;
      border: 1px solid $green;
      color: $green;

      &.inactive {
        border-color: $light3;
        color: $light3;
      }
    }
  }

  .mainSpace {
    margin: 0px;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
  }

  #compTree {
    min-width: 15vw;
    max-width: 25vw;
    background-color: $dark1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .compAddMenu {
      top: 50%;
    }

    .actualTree {
      margin-top: 0;
      padding: 10px 5px 10px 0;
      height: 90%;
      overflow-y: auto;
      box-sizing: border-box;
      border-bottom: 1px solid $dark3;
    }

    .btn {
      margin: auto auto;
    }
  }

  #settings {
    min-width: 20vw;
    max-width: 25vw;
    overflow-y: auto;
    background-color: $dark1;

    .settings-box {
      padding: 20px;
      padding-top: 0;
    }

    .divider {
      width: 100%;
      height: 1px;
      background-color: $dark2;
    }

    h1,
    h2 {
      display: flex;
      align-items: center;
      justify-content: center;

      margin: 20px 0;
      font-weight: 400;
      font-size: 24px;

      color: $light2;

      .material-icons {
        color: $light3;
        font-size: 20px;
        margin-right: 15px;
      }
    }

    .label.heading {
      margin-top: 15px;
    }

    h2 {
      font-size: 20px;

      .material-icons {
        font-size: 18px;
        margin-right: 10px;
      }
    }

    h3 {
      color: $light3;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px;
      margin-top: 20px;
    }

    .settings-row {
      margin: 10px 0 0;
      display: flex;
      align-items: center;
      width: 100%;

      &.disribute {
        justify-content: space-between;
      }
    }

    input,
    textarea,
    select {
      background-color: transparent;
      border: $inputBorder;
      border-radius: 5px;
      color: $light2;
      padding: 5px 10px;
      margin-left: 10px;

      option {
        color: $light4;
      }

      &:focus {
        outline: none;
      }
    }

    input[type="color"] {
      padding: 0px;
    }

    .input-box {
      width: fit-content;
      border: $inputBorder;
      border-radius: 5px;
      color: $light2;
      padding: 5px 10px;
      margin-right: 15px;

      display: flex;
      align-items: center;

      span {
        padding-left: 10px;
        min-width: 20px;
        text-align: center;
        font-size: 14px;
      }

      input,
      select {
        background-color: transparent;
        border: none;
        padding: 0 10px 0 0;
        width: 40px;
        text-align: right;
        font-size: 15px;
        border-radius: 0;
        border-right: 1.2px solid $light3;
        color: $light2;

        option {
          background-color: $dark2;
          color: $light2;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .clickActions {
      .addAction {
        margin: 0 auto 10px;
        background-color: transparent;
        border: 1px solid $light2;
        color: $light2;
      }

      #actionEditor {
        // border: 2px solid $dark2;
        box-shadow: $shadowStrong;
        margin: 20px 0 0;
        padding: 15px;

        h2 {
          margin-top: 0;
          margin-bottom: 10px;
          justify-content: start;
        }
      }
    }

    p {
      color: $light2;
      margin-top: 5px;
    }

    .gen-box {
      .label {
        min-width: 70px;
      }

      .id-box {
        input {
          width: 100px;
          text-align: center;
          color: $light3;
          // border-color: $dark3;
        }

        .material-icons {
          font-size: 20px;
          color: $light3;
          cursor: pointer;
          margin-left: 7px;

          &:hover {
            color: $light2;
          }
        }
      }
    }
  }

  .canvasContainer {
    flex-grow: 1;
    overflow: auto;
    position: relative;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-corner {
      background: transparentize($color: $light4, $amount: 0.2);
    }
    &::-webkit-scrollbar-thumb {
      background: transparentize($color: $light4, $amount: 0.2);
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $light4;
    }

    #canvasPadding {
      margin: auto;
      padding: 40px;
      width: fit-content;

      #canvas {
        display: block;
        border: 1px solid $light4;
        height: fit-content;
        image-rendering: pixelated;
      }
    }

    .toolbar {
      position: fixed;
      bottom: 2rem;
      width: 20rem;
      height: 3rem;
      background-color: $dark1;
      left: calc(50% - 10rem);

      display: flex;
      align-items: center;

      .zoom {
        margin-right: auto;
        margin-left: 15px;

        select {
          background-color: transparent;
          width: 65px;
          color: $light2;
          border: none;
          margin-left: 10px;
          padding: 4px 2px;

          &:hover {
            background-color: $light4;
          }

          &:focus {
            outline: none;
          }

          option {
            background-color: $dark1;
          }
        }
      }

      .historyControls {
        .btnHstr {
          box-sizing: content-box;
          border-left: 1px solid $light4;
          color: $light2;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 3rem;
          width: 3rem;
          cursor: pointer;
          user-select: none;

          &:hover {
            background-color: $light4;
          }

          &.inactive {
            color: $light4;
            cursor: not-allowed;

            &:hover {
              background-color: unset;
            }
          }
        }
      }
    }
  }
}
